<div class="container" ng-controller="mainCtrl2000">
    <h2>
        <a href="/angular"><i class="icon-arrow-left-3 fg-darker"></i></a>
        AngularJSサンプル<small class="on-right">osser.jp</small>
    </h2>
    <hr/>
    <h3>The Methods Defined by the $http Service for Making Ajax Requests</h3>
    <table class="table hovered ">
        <thead>
            <tr>
                <th>No.</th>
                <th class="text-left">Type</th>
                <th class="text-left">説明</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in httpservice_ajax_methods">
                <td>{{$index+1}}</td>
                <td class="text-left" nowrap>{{item.name}}</td>
                <td class="text-left">
                    <p ng-bind-html="item.desc"></p>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>

</div>

<script>
    var myApp = angular.module('exampleApp', ['ngSanitize']);
    myApp.controller('mainCtrl2000', function ($scope) {
        $scope.httpservice_ajax_methods = [
            {
                name: 'get(url, config)',
                desc: 'Performs a GET request for the specified URL.'
            },
            {
                name: 'post(url, data, config)',
                desc: 'Performs a POST request to the specified URL to submit the specified data.'
            },
            {
                name: 'delete(url, config)',
                desc: ' Performs a DELETE request to the specified URL.'
            },
            {
                name: 'put(url, data, config)',
                desc: 'Performs a PUT request with the specified data and URL.'
            },
            {
                name: 'head(url, config)',
                desc: 'Performs a HEAD request to the specified URL.'
            },
            {
                name: 'jsonp(url, config)',
                desc: '<p>Performs a GET request to obtain a fragment of JavaScript code that is then executed. JSONP, which stands for JSON with Padding, is a way of working around the limitations that browsers apply to where JavaScript code can be loaded from. </p><p>see http://en.wikipedia.org/wiki/JSONP for details.</p>'
            }
        ];

    });
</script>
