<div class="container" ng-controller="mainCtrl2001">
    <h2>
        <a href="/angular"><i class="icon-arrow-left-3 fg-darker"></i></a>
        AngularJSサンプル<small class="on-right">osser.jp</small>
    </h2>
    <hr/>
    <div>
        <div class="panel">
            <div class="panel-header">
                $http(get,json)
            </div>
            <div class="panel-content">
                <ul>
                    <li ng-repeat="book in books"><a ng-href="{{book.url}}" target="_blank">{{book.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="padding15 bg-grayLighter">
            <h4>$http.get()-response</h4>
            <pre>{{ajax_response|json}}</pre>
        </div>
    </div>
    <hr/>
    <p>
        <pre ng-non-bindable><%- source %></pre>
    </p>
</div>

<script>
    var myApp = angular.module('exampleApp', ['ngSanitize']);
    myApp.controller('mainCtrl2001', function ($scope, $http) {
        $scope.books = [];
        $scope.ajax_response = {};
        $http.get('/lib/angularjs/books.json').then(function (response) {
            $scope.books = response.data;
            $scope.ajax_response = response;
            console.log(response.headers('content-type'));
            console.log(response.headers('content-length'));
        });
        //$http.get('/lib/angularjs/books.json').success(function (data) {
        //    console.log(data);
        //});
    });
</script>
