<div class="container" ng-controller="mainCtrl2002">
    <h2>
        <a href="/angular"><i class="icon-arrow-left-3 fg-darker"></i></a>
        AngularJSサンプル<small class="on-right">osser.jp</small>
    </h2>
    <hr/>
    <div>
        <div class="panel">
            <div class="panel-header">
                $http(get,xml)
            </div>
            <div class="panel-content">
                <ol>
                    <li ng-repeat="book in books">{{book.title}}</li>
                </ol>
            </div>
        </div>
    </div>
    <hr/>
    <p>
        <pre ng-non-bindable><%- source %></pre>
    </p>
</div>

<script>
    var myApp = angular.module('exampleApp', ['ngSanitize']);
    myApp.controller('mainCtrl2002', function ($scope, $http) {
        $scope.books = [];
        $http.get('/lib/angularjs/books.xml').success(function (data) {
            var bookElements = angular.element(data.trim()).find("book");
            console.log(bookElements);
            $scope.books = [];
            for (var i = 0; i < bookElements.length; i++) {
                var book = bookElements.eq(i);
                $scope.books.push({
                    title: book.attr('title'),
                    url: book.attr('url')
                });
            }
        });
    });
</script>
