<div class="container" ng-controller="mainCtrl1207">
    <h2>
        <a href="/angular"><i class="icon-arrow-left-3 fg-darker"></i></a>
        AngularJSサンプル<small class="on-right">osser.jp</small>
    </h2>
    <hr/>
    <p>
        <h3>SELECTボックス</h3>
    </p>
    <p>
        <form name="frmMain" novalidate class="span4">
            <fieldset>
                <div class="input-control select" data-role="input-control">
                    <select ng-model="selectValue" ng-options="item.id as '(' + item.id + ') ' + item.name group by item.group for item in todos">
                        <option value="">(Pick One)</option>
                    </select>
                </div>
            </fieldset>
        </form>
        <div class="padding20 bg-grayLighter">
            {{selectValue}}&nbsp;
        </div>
    </p>
    <hr/>
    <p>
        <pre ng-non-bindable><%- source %></pre>
    </p>
</div>

<script>
    var myApp = angular.module('exampleApp', []);
    myApp.controller('mainCtrl1207', function ($scope) {
        $scope.todos = [
            {
                id: 100,
                name: 'nodejs',
                complete: false,
                group: 'program'
            },
            {
                id: 200,
                name: 'angularjs',
                complete: false,
                group: 'program'
            },
            {
                id: 300,
                name: 'linux',
                complete: true,
                group: 'os'
            },
            {
                id: 400,
                name: 'macos',
                complete: false,
                group: 'os'
            },
            {
                id: 500,
                name: 'windows',
                complete: false,
                group: 'os'
            },
        ];
    });
</script>
