<div class="container" ng-controller="mainCtrl">
    <h2>
        <a href="/angular"><i class="icon-arrow-left-3 fg-darker"></i></a>
        AngularJSサンプル<small class="on-right">osser.jp</small>
    </h2>
    <hr/>
    <h3>moduleオブジェクト</h3>
    <table class="table hovered ">
        <thead>
            <tr>
                <th>No.</th>
                <th class="text-left">ディレクティブ</th>
                <th class="text-left">応用</th>
                <th class="text-left">説明</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in module_members">
                <td>{{$index+1}}</td>
                <td class="text-left" nowrap>{{item.name}}</td>
                <td class="text-left">{{item.applied}}</td>
                <td class="text-left">
                    <p ng-bind-html="item.desc"></p>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    <h3>イベントハンドラー</h3>
    <table class="table hovered">
        <thead>
            <tr>
                <th>No.</th>
                <th class="text-left">ディレクティブ</th>
                <th class="text-left">応用</th>
                <th class="text-left">説明</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in eventhandlers">
                <td>{{$index+1}}</td>
                <td class="text-left">{{item.name}}</td>
                <td class="text-left">{{item.applied}}</td>
                <td class="text-left">
                    <p ng-bind-html="item.desc"></p>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    <h3>Booleanプロパティ</h3>
    <table class="table hovered">
        <thead>
            <tr>
                <th>No.</th>
                <th class="text-left">ディレクティブ</th>
                <th class="text-left">応用</th>
                <th class="text-left">説明</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in boolean_attributes">
                <td>{{$index+1}}</td>
                <td class="text-left" nowrap>{{item.name}}</td>
                <td class="text-left">{{item.applied}}</td>
                <td class="text-left">
                    <p ng-bind-html="item.desc"></p>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    <h3>Otherプロパティ</h3>
    <table class="table hovered">
        <thead>
            <tr>
                <th>No.</th>
                <th class="text-left">名称</th>
                <th class="text-left">応用</th>
                <th class="text-left">説明</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in other_attributes">
                <td>{{$index+1}}</td>
                <td class="text-left" nowrap>{{item.name}}</td>
                <td class="text-left">{{item.applied}}</td>
                <td class="text-left">
                    <p ng-bind-html="item.desc"></p>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

<script>
    var myApp = angular.module('exampleApp', ['ngSanitize']);
    myApp.controller('mainCtrl', function ($scope) {
        $scope.module_members = [
            {
                name: 'ng-if',
                applied: 'Attribute',
                desc: '<p>ngIfディレクティブは、{式}に基づくDOMツリーの一部を削除または再作成します。 もし、ngIfに割り当てられている式がfalseの値になると、要素はDOMから削除され、 そうでなければ要素の複製がDOM内に再挿入されます。</p><p>ngIfがngShowとngHideと異なるのは、 CSSプロパティのdisplayを通して表示を切り替えるのではなく、ngIfは完全に要素を削除したり、またDOM内に要素を再作成する事です。 DOM内の要素の場所に依存した:first-childまたは:last-childのような擬似セレクタを使用するケースで、 この違いが大きな意味を持つことになります。</p><p>ngIfを使用して要素が削除されると、そのスコープが削除され、 要素が再度作成されると新しいスコープが作成されることに注意してください。 スクープはngIfによって、プロトタイプ継承を使用して親のスコープを継承して作成されます。 もし、ngModelがngIf内で使用されていた場合は、 親スコープ内で定義されたJavaScriptのプリミティブと紐づくため、重要な影響を及ぼします。 この場合、子スコープ内の変数に対して行われた変更は、親スコープ内の値(非表示)を上書きします。</p><p>ngIfはまた、コンパイルされた際の状態を使用した、要素の再作成も行います。 この挙動の例として、例えば要素のクラス属性がコンパイル後に、 jQueryの.addClass()のようなメソッドを使用して動的に変更され、 その後に要素が削除されたような場合です。 ngIfが要素を再作成する際に、元のコンパイルされた状態が要素の再作成に使用されるため、追加されたクラスは失われます。</p><p>更に、ngAnimateモジュールを通して作成される時と削除される時のアニメーションを提供する事が可能です。</p>'
            },
            {
                name: 'ng-class',
                applied: 'Attribute, class',
                desc: '<p>ngClassは、追加される全てのクラスを表す式をデータバインディングすることによって、 動的にHTML要素に対してCSS用のクラスの設定を可能にしてくれます。</p><p>もし、既に該当するクラスが設定されている場合、ディレクティブは重複するようなクラスの追加は行いません。 式が変更された場合、予め追加されていたクラスは削除され、新しいクラスだけが追加されます。</p>'
            },
            {
                name: 'ng-class-even',
                applied: 'Attribute, class',
                desc: '<p>ngClassOddとngClassEvenディレクティブは、 厳密にはngClassとして動作し、 ngRepeatと組み合わせて動作させることが期待されており、 偶数行にだけ反映されます。</p><p>このディレクティブは、ngRepeatのスコープ内でのみ適用されます。</p>'
            },
            {
                name: 'ng-class-odd',
                applied: 'Attribute, class',
                desc: '<p>ngClassOddとngClassEvenディレクティブは、 厳密にはngClassとして動作し、 ngRepeatと組み合わせて動作させることが期待されており、 奇数行にだけ反映されます。</p><p>このディレクティブは、ngRepeatのスコープ内でのみ適用されます。</p>'
            },
            {
                name: 'ng-hide',
                applied: 'Attribute, class',
                desc: '<p>ngHideディレクティブは、ngHide属性に提供された式を元に、HTML要素を表示または非表示にします。 要素は要素上のng-hideのCSSクラスを削除または追加されることによって、表示と非表示が切り替えられます。 .ng-hideCSSクラスはAngularJSによって予め定義されており、displayスタイルにnoneが設定されています。 (!importantフラグが指定されています。)</p><p>ngHideの式がtrueと評価されると、.ng-hideCSSクラスが追加され、要素が非表示になります。 falseの場合は、.ng-hideCSSクラスが削除され、要素が表示されます。</p>'
            },
            {
                name: 'ng-show',
                applied: 'Attribute, class',
                desc: '<p>ngShowディレクティブは、ngShow属性に提供された式を元に、HTML要素を表示または非表示にします。 要素は要素上のng-hideのCSSクラスを削除または追加されることによって、表示と非表示が切り替えられます。 .ng-hideCSSクラスはAngularJSによって予め定義されており、displayスタイルにnoneが設定されています。 (!importantフラグが指定されています。)</p><p>ngShowの式がfalseと評価されると、.ng-hideCSSクラスが追加され、要素が非表示になります。 trueの場合は、.ng-hideCSSクラスが削除され、要素が表示されます。</p>'
            },
            {
                name: 'ng-style',
                applied: 'Attribute, class',
                desc: 'ngStyleディレクティブは、条件付きでHTML要素にCSSスタイルを設定します。'
            }
        ];
        $scope.eventhandlers = [
            {
                name: 'ng-blur',
                applied: 'Attribute, class',
                desc: 'blurイベントの動作をカスタマイズします。'
            },
            {
                name: 'ng-change',
                applied: 'Attribute, class',
                desc: '<p>ユーザーが入力値を変更した際に、与えられた式が評価されます。 モデルからの値の変更の際には、式は評価されません。</p><p>このディレクティブは、ngModelの提供が必要なことに注意してください。</p>'
            },
            {
                name: 'ng-click',
                applied: 'Attribute, class',
                desc: 'ngClickディレクティブは、要素がクリックされた際に特定の振る舞いを指定出来るようにしてくれます。'
            },
            {
                name: 'ng-copy,ng-cut,ng-paste',
                applied: 'Attribute, class',
                desc: 'コピー、カット、ペーストイベントの振る舞いのカスタマイズを指定します。'
            },
            {
                name: 'ng-dblclick',
                applied: 'Attribute, class',
                desc: 'ngDblclickディレクティブを使用すると、ダブルクリックイベントにカスタム動作を指定することができます。'
            },
            {
                name: 'ng-focus',
                applied: 'Attribute, class',
                desc: 'フォーカスイベントにカスタム動作を指定します。'
            },
            {
                name: 'ng-keydown,ng-keypress,ng-keyup',
                applied: 'Attribute, class',
                desc: 'keydown、keypress、keyupイベントのカスタム動作を指定します。'
            },
            {
                name: 'ng-mousedown,ng-mouseenter,ng-mouseleave,ng-mousemove,ng-mouseover,ng-mouseup',
                applied: 'Attribute, class',
                desc: 'mousedown、mouseenter、mouseleave、mousemove、mouseover、mouseupイベントのカスタム動作を指定します。'
            },
            {
                name: 'ng-submit',
                applied: 'Attribute, class',
                desc: '<p>onsubmitイベントに対し、Angular式の紐付けを有効にします。</p><p>加えて、action属性がフォームに含まれていない場合のみ、 デフォルトのアクション(フォームがリクエストをサーバに送り、現在のページがリロードされる)をキャンセルします。</p>'
            }
        ];
        $scope.boolean_attributes = [
            {
                name: 'ng-checked',
                applied: 'Attribute',
                desc: 'HTMLの仕様では、checkedのような特別な属性を、ブラウザが保持することを必要とはしていません。 (これは存在すればtrueであることを意味し、存在しなければfalseであることを意味します。) これは、Angularコンパイラが、正しく紐付けられた式を取得する事の妨げになります。 この問題を解決するために、ngCheckedディレクティブがあります。'
            },
            {
                name: 'ng-disabled',
                applied: 'Attribute',
                desc: 'HTMLの仕様では、disabledのような特別な属性の値を保持する事をブラウザに必要としていません。 (提供されればtrueとみなし、そうでなければfalseとみなします) これがAngularコンパイラが紐付いている式を正しく取得する事の妨げになっています。 この問題を解決するために、ngDisabledディレクティブがあります。'
            },
            {
                name: 'ng-open',
                applied: 'Attribute',
                desc: 'HTMLの仕様では、openのような特別な属性をブラウザに保持することを必要としていません。 (存在すればtrueとし、しなければfalseという事を意味します。) これは、紐付けられた式を正しく取得するAngularコンパイルの妨げになります。 この問題を解決するために、ngOpenディレクティブが存在します。    '
            },
            {
                name: 'ng-readonly',
                applied: 'Attribute',
                desc: 'HTMLの仕様では、readonlyのような特別な属性をブラウザに保持することを必要としていません。 (存在すればtrueとし、しなければfalseという事を意味します。) これは、紐付けられた式を正しく取得するAngularコンパイルの妨げになります。 この問題を解決するために、ngReadonlyディレクティブが存在します。'
            },
            {
                name: 'ng-selected',
                applied: 'Attribute',
                desc: 'HTMLの仕様では、selectedのような特別な属性をブラウザに保持することを必要としていません。 (存在すればtrueとし、しなければfalseという事を意味します。) これは、紐付けられた式を正しく取得するAngularコンパイルの妨げになります。 この問題を解決するために、ngSelectedディレクティブが存在します。'
            }
        ];
        $scope.other_attributes = [
            {
                name: 'ng-href',
                applied: 'Attribute',
                desc: '<p>Angularを使用して、href属性の中で{{hash}}のようなマークアップをすると、 もし、Angularが{{hash}}の値を置換する前にユーザーがクリックしてしまうと間違ったURLへのリンクとして誘導されてしまいます。 Angularがリンクのマークアップを置換するまでリンクは壊れた状態になっており、 404エラーを返すような事が発生するはずです。</p><p>ngHrefディレクティブは、この問題を解決します。</p>'
            },
            {
                name: 'ng-src',
                applied: 'Attribute',
                desc: '{{hash}}のようなAngularマークアップを使用したsrc属性の指定は正しく動作しません。 ブラウザは、Angularが{{hash}}内の式を置き換える前に、リテラルのテキスト{{hash}}としてURLを取得してしまいます。 ngSrcディレクティブはこの問題を解決します。'
            },
            {
                name: 'ng-srcset',
                applied: 'Attribute',
                desc: '{{hash}}のようなAngularマークアップを使用したsrcset属性の指定は正しく動作しません。 ブラウザは、Angularが{{hash}}内の式を置き換える前に、リテラルのテキスト{{hash}}としてURLを取得してしまいます。 ngSrcsetディレクティブはこの問題を解決します。'
            }
        ];
    });
</script>
