<hr/>
<div>
    <a href="#/view1">view1</a>
    <a href="#/view2">view2</a>
    <a href="#/view3">view3</a>
</div>
<div>
    <button ng-click="gotoUrl('view1')">view1</button>
    <button ng-click="gotoUrl('view2')">view2</button>
    <button ng-click="gotoUrl('view3')">view3</button>
</div>