<div class="container" ng-controller="indexController">
    <h2>
        <a href="/"><i class="icon-cloud-4 fg-darker smaller"></i></a>
        サンプルプロジェクト<small class="on-right">osser.jp</small>
    </h2>

    <div class="grid">
        <div class="row">
            <div class="span12">
                <a href="/angular">
                    <div class="tile bg-darkPink">
                        <div class="tile-content icon">
                            <i class="icon-layers-alt"></i>
                        </div>
                        <div class="tile-status">
                            <span class="name">AngularJS</span>
                        </div>
                    </div>
                </a>
                <a href="/metroui">
                    <div class="tile bg-cobalt">
                        <div class="tile-content icon">
                            <i class="icon-windows"></i>
                        </div>
                        <div class="tile-status">
                            <span class="name">MetroUI</span>
                        </div>
                    </div>
                </a>
                <a href="/lodash">
                    <div class="tile bg-dark">
                        <div class="tile-content icon">
                            <i class="icon-lastfm"></i>
                        </div>
                        <div class="tile-status">
                            <span class="name">Lo-dash.js</span>
                        </div>
                    </div>
                </a>
                <a href="/temp.html">
                    <div class="tile bg-darkViolet">
                        <div class="tile-content icon">
                            <i class="icon-blogger"></i>
                        </div>
                        <div class="tile-status">
                            <span class="name">BootStrap</span>
                        </div>
                    </div>
                </a>
                <a href="/temp.html">
                    <div class="tile bg-darkEmerald">
                        <div class="tile-content icon">
                            <i class="icon-lastfm"></i>
                        </div>
                        <div class="tile-status">
                            <span class="name">Node.js</span>
                        </div>
                    </div>
                </a>
                <a href="/temp.html">
                    <div class="tile bg-darkEmerald">
                        <div class="tile-content icon">
                            <i class="icon-lastfm"></i>
                        </div>
                        <div class="tile-status">
                            <span class="name">jQuery.js</span>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>
