<div class="container" ng-controller="indexController">
    <h2>
        <a href="/"><i class="icon-cloud-4 fg-darker smaller"></i></a>
        サンプルプロジェクト<small class="on-right">osser.jp</small>
    </h2>

    <p>
        <a href="/angular">
            <div class="tile bg-darkPink">
                <div class="tile-content icon">
                    <i class="icon-layers-alt"></i>
                </div>
                <div class="tile-status">
                    <span class="name">AngularJS</span>
                </div>
            </div>
        </a>
    </p>
</div>