<div class="container" ng-controller="tempController">
    <h2>
        <a href="/"><i class="icon-arrow-left-3 fg-darker"></i></a>
        TEMP<small class="on-right">osser.jp</small>
    </h2>

    <hr/>

    <p>
        {{message}}
    </p>

</div>

<script>
    var myApp = angular.module('exampleApp', []);
    myApp.controller('tempController', function ($scope) {
        $scope.message = "message from angular scope.";
    });
</script>
