<div class="clearfix">
    <a href="<%- gconfig.url.redirect%>/book/nodejs_in_action" target="_blank">
        <img class="img-responsive" src="/images/books/nodejs_in_action.jpg">
        <span>
            <strong>Node.js in Action</strong>
        </span>
    </a>
</div>
<div>
    <img src="/images/star.png">
    <img src="/images/star.png">
    <img src="/images/star.png">
    <img src="/images/star.png">
    <img src="/images/star.png">
</div>