<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Panel Header（ぱんくずはここにいれるかな？）</h4>
    </div>
    <div class="panel-body">
        <div class="page-header">
            <h3>ドキュメントタイトル</h3>
            <small>Posted on July 20</small>
        </div>
        <img src="/image/osser-logo.png">
        <p>osser【オープンソーサー】とはオープンソースソフトウェア関与する人達という意味です、当サイトは基本は９９％オープンソースソフトウェア情報と更新情報を収集共有します、且つ、IT技術者コミュニケーションの専門サイトという目的で本日から開設しました。</p>
        <h4>A Heading</h4>
        <p>osser【オープンソーサー】とはオープンソースソフトウェア関与する人達という意味です、当サイトは基本は９９％オープンソースソフトウェア情報と更新情報を収集共有します、且つ、IT技術者コミュニケーションの専門サイトという目的で本日から開設しました。</p>
    </div>
    <div class="panel-footer">
        <h4>Panel Footer</h4>
    </div>
</div>