<div class="panel panel-default">
    <div class="panel-heading">
        <h5><strong>最新投稿</strong></h5>
    </div>
    <% if (form.recentthreads !== undefined && form.recentthreads.length > 0) { %>
    <!-- List group -->
        <ul class="list-group">
            <% _.each(form.recentthreads, function (result) { %>
            <li class="list-group-item" style="height:40px;">
                <div itemscope itemtype="http://schema.org/Article" class="pull-left" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width:90%">
                    <a href="<%= gconfig.site.nodejs.route.thread %>/<%= gfunc.getContentNodeUrl(result.thread.nid) %>"><span itemprop="name"><%= result.thread.title %></span></a>
                </div>
            </li>
            <% }) %>
        </ul>
    <% } else { %>
        <div class="panel-body">
            文章なし
        </div>
    <% } %>
</div>