<div class="container" ng-controller="indexController">
    <h2>
        <a href="/"><i class="icon-arrow-left-3 fg-darker"></i></a>
        AngularJSサンプル<small class="on-right">osser.jp</small>
    </h2>
    
    <hr/>

    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>The Anatomy of an AngularJS App</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Using Binding and Template Directives</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Using Element and Event Directives</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Working with Forms</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Using Controllers and Scopes</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Using Filters</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Creating Custom Directives</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Creating Complex Directives</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Advanced Directive Features</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Working with Modules and Services</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Services for Global Objects, Errors, and Expressions</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Services for Ajax and Promises</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Services for REST</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Services for Views</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Services for Animation and Touch</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Services for Provision and Injection</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Unit Testing</h3>
        <a class="button info" href="/temp.html">temp.html</a>
        <a class="button info" href="/grid.html">grid.html</a>
        <a class="button info" href="/container.html">container.html</a>
        <a class="button info" href="/article.html">article.html</a>
        <a class="button info" href="/module.html">module.html</a>
        <a class="button info" href="/httpget.html">httpget.html</a>
    </p>

    <hr/>

    <p>
        Working with AngularJS
    </p>
</div>