<div class="container">
    <h2>
        <a href="/"><i class="icon-arrow-left-3 fg-darker"></i></a>
        AngularJSサンプル<small class="on-right">osser.jp</small>
    </h2>

    <hr/>

    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>The Anatomy of an AngularJS App</h3>
        <a class="button success" href="/angular/sample/0900">概要</a>
        <a class="button info" href="/angular/sample/0901">0901</a>
        <a class="button info" href="/angular/sample/0902">0902</a>
        <a class="button info" href="/angular/sample/0903">0903</a>
        <a class="button info" href="/angular/sample/0904">0904</a>
        <a class="button info" href="/angular/sample/0905">0905</a>
        <a class="button info" href="/angular/sample/0906">0906</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Using Binding and Template Directives</h3>
        <a class="button success" href="/angular/sample/1000">概要</a>
        <a class="button info" href="/angular/sample/1001">1001</a>
        <a class="button info" href="/angular/sample/1002">1002</a>
        <a class="button info" href="/angular/sample/1003">1003</a>
        <a class="button info" href="/angular/sample/1004">1004</a>
        <a class="button info" href="/angular/sample/1005">1005</a>
        <a class="button info" href="/angular/sample/1006">1006</a>
        <a class="button info" href="/angular/sample/1007">1007</a>
        <a class="button info" href="/angular/sample/1008">1008</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Using Element and Event Directives</h3>
        <a class="button success" href="/angular/sample/1100">概要</a>
        <a class="button info" href="/angular/sample/1101">1101</a>
        <a class="button info" href="/angular/sample/1102">1102</a>
        <a class="button info" href="/angular/sample/1103">1103</a>
        <a class="button info" href="/angular/sample/1104">1104</a>
        <a class="button info" href="/angular/sample/1105">1105</a>
        <a class="button info" href="/angular/sample/1106">1106</a>
        <a class="button info" href="/angular/sample/1107">1107</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Working with Forms</h3>
        <a class="button success" href="/angular/sample/1200">概要</a>
        <a class="button info" href="/angular/sample/1201">1201</a>
        <a class="button info" href="/angular/sample/1202">1202</a>
        <a class="button info" href="/angular/sample/1203">1203</a>
        <a class="button info" href="/angular/sample/1204">1204</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Using Controllers and Scopes</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Using Filters</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Creating Custom Directives</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Creating Complex Directives</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Advanced Directive Features</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Working with Modules and Services</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Services for Global Objects, Errors, and Expressions</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Services for Ajax and Promises</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Services for REST</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Services for Views</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Services for Animation and Touch</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Services for Provision and Injection</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Unit Testing</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>

    <hr/>

    <p>
        Working with AngularJS
    </p>
</div>

<script>
    var myApp = angular.module('exampleApp', []);
    myApp.controller('mainCtrl', function ($scope) {});
</script>
