<div class="container" ng-controller="mainCtrl">
    <h2>
        <a href="/angular"><i class="icon-arrow-left-3 fg-darker"></i></a>
        AngularJSサンプル<small class="on-right">osser.jp</small>
    </h2>
    <hr/>
    <p>
        <h3>{{now}}</h3>
    </p>
    <hr/>
    <p>
        <pre ng-non-bindable><%- source %></pre>
    </p>
</div>

<script>
    var myApp = angular.module('exampleApp', []);
    myApp.value('nowValue', new Date());
    myApp.controller('mainCtrl', function ($scope, nowValue) {
        $scope.now = nowValue;
    });
</script>
