<!-- サイトについて -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h5><strong>Node.jsコミュニティについて</strong></h5>
    </div>
    <div class="panel-body">
        <p>本サイトはNode.js中心の技術討論、情報交換のコミュニティサイトです。登録は無料で、発言も自由です。</p>
        <p><a href="<%- gconfig.url.redirect%>/?s=Bgjlfl8pptX0lg">Markdown文法</a>の投稿システムです。</p>
        <p>
            <div class="pull-left" style="padding:3px;">
                <a href="/rss.xml" target="_blank"><img src="/images/rss.png" class="img-responsive img-rounded" style="width:32px;" alt="nodejs rss"></a>
            </div>
            <div class="pull-left" style="padding:3px;">
                <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2F192.168.11.50%3A8083%2F&region=follow_link&screen_name=osserjp&tw_p=followbutton&variant=2.0"><img src="/images/twitter.png" class="img-responsive img-rounded" style="width:32px;" alt="nodejs twitter"></a>
            </div>
        </p>
    </div>
</div>
