<!-- サイトについて -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h5><strong>Node.jsコミュニティについて</strong></h5>
    </div>
    <div class="panel-body">
        <p>本サイトはNode.js中心の技術討論、情報交換のコミュニティサイトです。登録は無料で、発言も自由です。</p>
        <p><a href="<%- gconfig.url.redirect%>/?s=Bgjlfl8pptX0lg">Markdown文法</a>の投稿システムです。</p>
    </div>
</div>
