<!-- サイトについて -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h5><strong>Buy the Book</strong></h5>
    </div>
    <div class="panel-body">
        <% if (form.buythebook) { %>
            <%- form.buythebook %>
        <% } else { %>
            <%- partial('../books/nodejs_in_action') %>
        <% } %>
    </div>
</div>
