<!-- 自分がフォローされている人 -->
<% if(process.env.NODE_ENV == 'development') { %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h5><strong>フォロワー</strong></h5>
    </div>
    <div class="panel-body">
        Coming Soon
    </div>
</div>
<% } %>
