<div class="panel panel-default">
    <div class="panel-heading">
        <h5><strong>人気投稿</strong></h5>
    </div>
    <% if (form.hotthreads !== undefined && form.hotthreads.length > 0) { %>
    <!-- List group -->
        <ul class="list-group">
            <% _.each(form.hotthreads, function (result) { %>
            <li class="list-group-item" style="height:40px;">
                <div class="pull-left" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width:80%">
                    <a href="<%= gconfig.site.nodejs.route.thread %>/<%= gfunc.getContentNodeUrl(result.thread.nid) %>"><%= result.thread.title %></a>
                </div>
            </li>
            <% }) %>
        </ul>
    <% } else { %>
        <div class="panel-body">
            文章なし
        </div>
    <% } %>
</div>