    <div>
        <ol class="breadcrumb">
            <li>
                <a href="<%= gconfig.site.nodejs.route.user %>/<%= form.myurl %>">マイページ</a>
            </li>
            <li class="active">
                <%= title %>
            </li>
        </ol>
    </div>
