<div class="panel panel-default">
    <div class="panel-body text-center">
        <a class="btn btn-primary btn-lg" href="<%= gconfig.site.nodejs.route.threadmydraft %>">下書一覧</a>
        <a class="btn btn-success btn-lg" href="<%= gconfig.site.nodejs.route.threadmylist %>">投稿一覧</a>
        <a class="btn btn-warning btn-lg" href="<%= gconfig.site.nodejs.route.threadmyanswer %>">回答投稿一覧</a>
    </div>
</div>
