<div class="panel panel-default">
    <div class="panel-body">
        <div class="text-center">
            <img src="/images/nodejs-logo-light.png" />
        </div>
        <p style="padding-top:30px;padding-right:30px;padding-left:30px;padding-bottom:0px;line-height:40px;font-size:22px;">
            <strong>Node.js</strong>は高速でスケーラブルなネットワークアプリケーションを 簡単に構築するためにChrome の JavaScript 実行環境 上に構築されたプラットフォームです。 Node.jsはイベント駆動とノンブロッキング I/O モデルを使用することにより 軽量・効率的で、分散されたデバイスにまたがるデータ集約的なリアルタイム アプリケーションに最適です。
        </p>
        <div class="text-center" style="padding:30px;">
            <a href="<%- gconfig.url.redirect%>/?s=st2dSckc2zgzUm" class="btn btn-success btn-lg" target="_blank">オフィシャルサイト</a>
            <a href="<%- gconfig.url.redirect%>/book/nodejs" class="btn btn-warning btn-lg" target="_blank">Node.js本 @アマゾン</a>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body" style="background-color: #33342d;color:#D2D8BA;">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 nodejs-comment">
                    <p><img src="/images/microsoft-logo.png" /></p>
                    <p>Nodeは全く新しい種類のリアルタイムアプリケーションを 端から端までJavaScriptで開発する最初の体験をAzureユーザに与えます。</p>
                    <p>Claudio Caldato</p>
                    <p>Principal Program Manager, Microsoft Open Technologies, Inc.</p>
                </div>
                <div class="col-md-3 nodejs-comment">
                    <p><img src="/images/ebay-logo.png" /></p>
                    <p>Nodeのイベント化された I/O モデルは、マルチスレッドによる 非同期 I/O では一般的なロックと並行性の問題から、 私たちを解放しました。</p>
                    <p>Subbu Allamarju</p>
                    <p>Principal Member, Technical Staff</p>
                </div>
                <div class="col-md-3 nodejs-comment">
                    <p><img src="/images/linkedin-logo.png" /></p>
                    <p>サーバサイドで、私たちの全てのモバイルソフトウェアスタックは 完全にNodeで作られています。理由の一つはスケールでした。 2番目はNodeが劇的なパフォーマンスの向上を示したことです。</p>
                    <p>Kiran Prasad</p>
                    <p>Director of Engineering, Mobile</p>
                </div>
                <div class="col-md-3 nodejs-comment">
                    <p><img src="/images/yahoo-logo.png" /></p>
                    <p>Node．jsは Manhattan (Yahoo! の PaaS) の中核です。 一つの言語を使って一つのコードベースを構築することを可能にします - それは開発者にとってのパラダイスです。</p>
                    <p>Renaud Waldura</p>
                    <p>Sr. Product Manger, Cocktail</p>
                </div>
            </div>
        </div>
    </div>
</div>

