<!-- 新スレッド -->
<div class="panel panel-default">
    <div class="panel-body text-center">
        <div style="padding-bottom:10px;">お答えは見つかりませんか？</div>
        <a href="<%= gconfig.site.nodejs.route.threadnew %>" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil"></span>
            新規投稿
        </a>
    </div>
</div>
