<div class="panel panel-default">
    <div class="panel-heading panel-heading-highlight">
        <h5 style="font-weight:bolder;">技術勉強</h5>
    </div>
    <div class="panel-body amazon-text">
        <div>
            <span class="glyphicon glyphicon-book"></span>
            <a target="_blank" href="<%- gconfig.url.redirect%>/?s=nodejs">Node.js本 @アマゾン</a>
        </div>
    </div>
</div>
