<div class="panel panel-default">
    <div class="panel-body">
        <%- partial('../partials/mypagebreadcrumb') %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>私の下書き</h4>
            </div>
            <%- partial('../widget/threadlist') %>
        </div>
    </div>
</div>

<%- partial('./mythreadlinks') %>
