<div class="panel panel-default">
    <div class="panel-body">
        <%- partial('../partials/mypagebreadcrumb') %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>投稿一覧</h4>
            </div>
            <%- partial('../widget/threadlist') %>
        </div>
        <div class="text-center">
            <%- partial('../widget/pager') %>
        </div>
    </div>
</div>

<%- partial('./mythreadlinks') %>
