<div class="container" ng-controller="mainCtrl">
    <h2>
        <a href="/metroui"><i class="icon-arrow-left-3 fg-darker"></i></a>
        Metro UI CSSサンプル<small class="on-right">osser.jp</small>
    </h2>
    <hr/>
    <div class="grid fluid">
        <div class="row">
            <div class="span12">
                <h3>Metro UI Colors<small class="padding15 bg-grayLighter">{{colorarrays.length}}</small></h3>
                <div class="tile {{item}}" ng-click="copyColor(item)" ng-repeat="item in colorarrays">
                    <div class="tile-content icon">
                        <i class="icon-pencil"></i>
                    </div>
                    <div class="tile-status">
                        <span class="name">{{item}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <p>
        <pre ng-non-bindable><%- source %></pre>
    </p>
</div>

<script>
    var myApp = angular.module('exampleApp', []);
    myApp.controller('mainCtrl', function ($scope) {
        $scope.colorarrays = ['bg-black', 'bg-white', 'bg-lime', 'bg-green', 'bg-emerald', 'bg-teal', 'bg-cyan', 'bg-cobalt', 'bg-indigo', 'bg-violet', 'bg-pink', 'bg-magenta', 'bg-crimson', 'bg-red', 'bg-orange', 'bg-amber', 'bg-yellow', 'bg-brown', 'bg-olive', 'bg-steel', 'bg-mauve', 'bg-taupe', 'bg-gray', 'bg-dark', 'bg-darker', 'bg-transparent', 'bg-darkBrown', 'bg-darkCrimson', 'bg-darkMagenta', 'bg-darkIndigo', 'bg-darkCyan', 'bg-darkCobalt', 'bg-darkTeal', 'bg-darkEmerald', 'bg-darkGreen', 'bg-darkOrange', 'bg-darkRed', 'bg-darkPink', 'bg-darkViolet', 'bg-darkBlue', 'bg-lightBlue', 'bg-lightRed', 'bg-lightGreen', 'bg-lighterBlue', 'bg-lightTeal', 'bg-lightOlive', 'bg-lightOrange', 'bg-lightPink', 'bg-grayDark', 'bg-grayDarker', 'bg-grayLight', 'bg-grayLighter', 'bg-blue'
];
        $scope.copyColor = function (theColor) {
            console.log(theColor);
        }
    });
</script>
