<div class="container" ng-controller="mainCtrl">
    <h2>
        <a href="/metroui"><i class="icon-arrow-left-3 fg-darker"></i></a>
        Metro UI CSSサンプル<small class="on-right">osser.jp</small>
    </h2>
    <hr/>
    <div class="grid fluid">
        <div class="row">
            <div class="span12">
                <h3>Metro UI Colors<small class="padding15 grayLighter">{{colorarrays.length}}</small></h3>
                <div class="tile bg-{{item}}" ng-click="copyColor(item)" ng-repeat="item in colorarrays">
                    <div class="tile-content icon">
                        <i class="icon-pencil"></i>
                    </div>
                    <div class="tile-status">
                        <span class="name">{{item}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <p>
        <pre ng-non-bindable><%- source %></pre>
    </p>
</div>

<script>
    var myApp = angular.module('exampleApp', []);
    myApp.controller('mainCtrl', function ($scope) {
        $scope.colorarrays = ['black', 'white', 'lime', 'green', 'emerald', 'teal', 'cyan', 'cobalt', 'indigo', 'violet', 'pink', 'magenta', 'crimson', 'red', 'orange', 'amber', 'yellow', 'brown', 'olive', 'steel', 'mauve', 'taupe', 'gray', 'dark', 'darker', 'transparent', 'darkBrown', 'darkCrimson', 'darkMagenta', 'darkIndigo', 'darkCyan', 'darkCobalt', 'darkTeal', 'darkEmerald', 'darkGreen', 'darkOrange', 'darkRed', 'darkPink', 'darkViolet', 'darkBlue', 'lightBlue', 'lightRed', 'lightGreen', 'lighterBlue', 'lightTeal', 'lightOlive', 'lightOrange', 'lightPink', 'grayDark', 'grayDarker', 'grayLight', 'grayLighter', 'blue'
];
        $scope.copyColor = function (theColor) {
            console.log(theColor);
        }
    });
</script>
