<div class="container">
    <h2>
        <a href="/"><i class="icon-arrow-left-3 fg-darker"></i></a>
        Metro UI CSSサンプル<small class="on-right">osser.jp</small>
    </h2>

    <hr/>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Basic CSS</h3>
        <a class="button success" href="/metroui/sample/color">color</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Grid System</h3>
        <a class="button success" href="/metroui/sample/grid01">Grid01</a>
        <a class="button success" href="/metroui/sample/grid02">Grid02</a>
    </p>
    <p>
        <h3 id="_emphasis"><i class="icon-accessibility on-left"></i>Basic Template</h3>
        <a class="button success" href="/temp.html">temp.html</a>
    </p>

    <hr/>

    <p>
        Working with Metro UI CSS
    </p>
</div>

<script>
    var myApp = angular.module('exampleApp', []);
    myApp.controller('mainCtrl', function ($scope) {});
</script>
