<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>books</h1>
        </div>
        <div class="col-md-3">
            <%- partial('../partials/searchbox') %>
            <%- partial('../partials/noresult') %>
            <%- form.rssnews %>
            <%- partial('../partials/about_this_site') %>
        </div>
    </div>
</div>