<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%- partial('../partials/mypageleftbar') %>
        </div>
        <div class="col-md-9">
            <%- partial('../partials/threadmydraft') %>
        </div>
    </div>
</div>