<div class="container" ng-controller="mainCtrl1901">
    <h2>
        <a href="/angular"><i class="icon-arrow-left-3 fg-darker"></i></a>
        AngularJSサンプル<small class="on-right">osser.jp</small>
    </h2>
    <hr/>
    <div>
        <div class="panel">
            <div class="panel-header">
                <%- req.path %>
            </div>
            <div class="panel-content">
                <button>テストボタン</button>
            </div>
        </div>
    </div>
    <hr/>
    <p>
        <pre ng-non-bindable><%- source %></pre>
    </p>
</div>

<script>
    var myApp = angular.module('exampleApp', ['ngSanitize']);
    myApp.controller('mainCtrl1901', function ($scope, $window, $document) {
        $document.find("button").on("click", function (event) {
            $window.alert(event.target.innerText);
        });
    });
</script>
