<div class="container" ng-controller="mainCtrl1902">
    <h2>
        <a href="/angular"><i class="icon-arrow-left-3 fg-darker"></i></a>
        AngularJSサンプル<small class="on-right">osser.jp</small>
    </h2>
    <hr/>
    <div>
        <div class="panel">
            <div class="panel-header">
                Using Intervals and Timeouts
            </div>
            <div class="panel-content">
                {{time|date:'medium'}}
            </div>
        </div>
    </div>
    <hr/>
    <p>
        <pre ng-non-bindable><%- source %></pre>
    </p>
</div>

<script>
    var myApp = angular.module('exampleApp', ['ngSanitize']);
    myApp.controller('mainCtrl1902', function ($scope, $interval) {
        $scope.time = new Date();
        $interval(function () {
            $scope.time = new Date();
        }, 1000);
    });
</script>
<script src="/lib/angularjs/i18n/angular-locale_ja-jp.js"></script>
