<div class="container" ng-controller="mainCtrl">
    <h2>
        <a href="/angular"><i class="icon-arrow-left-3 fg-darker"></i></a>
        AngularJSサンプル<small class="on-right">osser.jp</small>
    </h2>
    <hr/>
    <p>
        <h3>Controller基本</h3>
        <p>
            <form name="frmMain" novalidate>
                <div class="input-control select span4" data-role="input-control">
                    <select ng-options="city for city in cities" ng-model="city">
                    </select>
                </div>
            </form>
        </p>
        <p>The city is: {{city}}</p>
        <p>The country is: {{getCountry(city) || "Unknown"}}</p>
    </p>
    <hr/>
    <p>
        <pre ng-non-bindable><%- source %></pre>
    </p>
</div>

<script>
    var myApp = angular.module('exampleApp', []);
    myApp.controller('mainCtrl', function ($scope) {
        $scope.cities = ["London", "New York", "Paris"];
        $scope.city = "London";
        $scope.getCountry = function (city) {
            switch (city) {
            case "London":
                return "UK";
            case "New York":
                return "USA";
            }
        }
    });
</script>
