<div class="container">
    <h2>
        <a href="/angular"><i class="icon-arrow-left-3 fg-darker"></i></a>
        AngularJSサンプル<small class="on-right">osser.jp</small>
    </h2>
    <hr/>
    <p>
        <h3>scope領域(service)</h3>
        <h4>controller1</h4>
        <div ng-controller="mainCtrl1302">
            <div>
                <input type="text" ng-model="message" class="span6">
            </div>
            {{message}}
            <div>
                <input type="text" ng-model="pubmessage" class="span6">
            </div>
            {{pubmessage}}
        </div>
        <h4>controller2</h4>
        <div ng-controller="mainCtrl1302">
            <div>
                <input type="text" ng-model="message" class="span6">
            </div>
            {{message}}
            <div>
                <input type="text" ng-model="pubmessage" class="span6">
            </div>
            {{pubmessage}}
        </div>
    </p>
    <hr/>
    <p>
        <pre ng-non-bindable><%- source %></pre>
    </p>
</div>

<script>
    var myApp = angular.module('exampleApp', []);
    myApp.service('updService', function ($rootScope) {
        return {
            updpubmessage: function (pubmessage) {
                $rootScope.$broadcast("pubmessageUpdated", {
                    pubmessage: pubmessage
                });
            }
        }
    });
    myApp.controller('mainCtrl1302', function ($scope, updService) {
        $scope.message = 'this is a scope message.';
        $scope.pubmessage = "public message";
        $scope.$on('pubmessageUpdated', function (event, args) {
            $scope.pubmessage = args.pubmessage;
        });
        $scope.$watch('pubmessage', function () {
            updService.updpubmessage($scope.pubmessage);
        });
    });
</script>
