<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="well well-lg">
                <%- message %>
            </div>
            <div class="text-center">
                <a href="<%- gconfig.site.account.route.login %>" class="btn btn-success btn-lg">ログイン</a>
            </div>
        </div>
    </div>
</div>