<div class="container" ng-controller="mainCtrl1501">
    <h2>
        <a href="/angular"><i class="icon-arrow-left-3 fg-darker"></i></a>
        AngularJSサンプル<small class="on-right">osser.jp</small>
    </h2>
    <hr/>
    <div>
        <div class="panel">
            <div class="panel-header">
                Evaluating Expressions
            </div>
            <div class="panel-content">
                <div>
                    <h4>連動パターン</h4>
                    <div unordered-list></div>
                </div>
                <div>
                    <h4>連動しないパターン</h4>
                    <div unordered-list2></div>
                </div>
            </div>
            <div class="padding10 bg-grayLighter">
                <button class="button primary" ng-click="addPrice()">AddPrice</button>
            </div>
        </div>
    </div>
    <hr/>
    <p>
        <pre ng-non-bindable><%- source %></pre>
    </p>
</div>

<script>
    var myApp = angular.module('exampleApp', []);
    myApp.controller('mainCtrl1501', function ($scope, dataService) {
        $scope.books = dataService.getBooks();
        $scope.addPrice = function () {
            for (var i = 0; i < $scope.books.length; i++) {
                if (i === 3) //個別更新
                    $scope.books[i].price += 100;
            }
        }
    });
    myApp.directive('unorderedList', function ($filter) {
        return function (scope, element, attrs) {
            var books = scope.books;
            var listTag = angular.element("<ul>");
            element.append(listTag);
            for (var i = 0; i < books.length; i++) {
                (function () {
                    var index = i;
                    var itemTag = angular.element("<li>");
                    listTag.append(itemTag);
                    var watcherFn = function (watchScope) {
                        console.log('unorderedList', index);
                        return books[index].price;
                    }
                    scope.$watch(watcherFn, function (newValue, oldValue) {
                        console.log('scope.$watch', newValue, oldValue);
                        itemTag.text(books[index].title + ', ' + $filter('currency')(newValue));
                    });
                }());
            }
        }
    });
    myApp.directive('unorderedList2', function ($filter) {
        return function (scope, element, attrs) {
            var books = scope.books;
            var listTag = angular.element("<ul>");
            element.append(listTag);
            for (var i = 0; i < books.length; i++) {
                var index = i;
                var itemTag = angular.element("<li>");
                listTag.append(itemTag);
                itemTag.text(books[index].title + ', ' + $filter('currency')(books[index].price));
            }
        }

    });
</script>
<script src="/lib/angularjs/js/books.js"></script>
<script src="/lib/angularjs/i18n/angular-locale_ja-jp.js"></script>
